html, body {
    margin: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 12px;
    font-family: 'Arial';
}

#nav a.topimage {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}

#middle {
    /* margin-top: 200px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;   
}

#searchbarcontainer {
    text-align: center;
    margin-top: 20px;
}

#searchbar {
    padding-top: 12px;
    padding-bottom: 12px;
    text-indent: 30px;
    font-size: 16px;
    outline: 0;
    width: 570px;
    border-radius: 20px;
    border: 1px solid #dfdfdf;
}


#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(219, 219, 219);
}


#buttons {
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(247, 247, 247);
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Arial';
    color: rgb(68, 68, 68);
}

#lang-links {
    margin-top: 26px;
    text-align: center;
    font-size: 13px;
    font-family: 'Arial';
    font-style: normal;
}

a {
    margin-left: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





